.a {
  color: black;
  margin-right: 1.5rem;
}

.a :hover {
  color: #31d35c9c;
}

.nav-link {
  font-size: 1.4rem;
  color: #31d35c9c;
}

.nav-item :hover {
  text-decoration: overline 3px #31d35c9c;
  transform: scale(1, 1);
  transition: 0.3s ease;
  color: #31d35c9c;
  margin-top: 0.5rem;
}
/* 
#btn {
  background: 50% rgb(45, 49, 77);
  background: 50%
    linear-gradient(
      90deg,
      rgba(45, 49, 77, 0.719) 24%,
      #31d35c9c 51%,
      rgba(43, 183, 218, 0.664) 100%
    );
  color: #fff;
  border-radius: 10rem;
  margin-left: 5rem;
} */
