<div class="container-fluid bg-light">
    <div class="container">

   
        <div class="row">
            <div class="col-xxl-4 xol-xl-4 col-md-6 col-sm-12 mt-5 textos">
                <h1>Next generation digital banKing</h1>

                <p>take your financial life online. Your Easybank account <br>
                    will be a one-stop-shop for spending.saving.<br>
                    budgeting.investing. and much more.
                </p>

                <button type="button" class="btn">Request Invite</button>            
            </div>

            <div class="col-xxl-6 col-xl-6 col-md-12 col-sm-12 col-12">
                <img src="/assets/images/image-mockups.png" alt="">
            </div>
        </div>
    </div>
</div>
