.container-fluid {
  background-color: #e9e9e9;
  margin-top: -8rem;
}

.card {
  border: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 1.5rem;
  background-color: transparent;
}

.card svg {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

p {
  opacity: 80%;
}
