.container-fluid {
  background-color: #2d314d;
}

.nav-item {
  display: inline-table;
  margin: 0.7rem;
  margin-top: 4rem;
}

.nav-link {
  display: inline-flex;
  align-self: center;
  font-size: 1rem;
}
