* {
  margin: 0;
  padding: 0;
}

.navbar {
  font-size: 3rem;
}

.navegacao {
  margin-left: 32.5rem;
}

.nav-item {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.botaoDireita {
  /* background-color: linear-gradient(to right, green, black); */
  text-decoration: none;
}

.navbar-toggler {
  color: black;
  margin-right: 1.5rem;
}

.nav-item {
  margin-top: 0.9rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.nav-item :hover {
  color: #ff914d;
  transform: scale(1, 1);
  transition: 0.6s ease;
  font-size: 1.3rem;
}
