img {
  max-width: 40rem;
  display: inline-block;
  width: 100%;
  object-fit: cover;
  box-shadow: 0.5rem;
}

h1 {
  margin-top: 10rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.texto {
  line-height: 2rem;
  font-size: 1.1rem;
  opacity: 70%;
}

.btn {
  color: white;
  border-radius: 10rem;
  background: rgb(49, 211, 92);
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 10%,
    rgba(43, 183, 218, 0.6397030279503105) 82%
  );
}
