<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-4 textos">
            <h1>Next generation digital banKing</h1>

            <p>take your financial life online. Your Easybank account <br>
                will be a one-stop-shop for spending.saving.<br>
                budgeting.investing. and much more.
            </p>

            <button type="button" class="btn">Request Invite</button>            
        </div>

        <div class="col-6">
            <img src="/assets/images/image-mockups.png" alt="">
        </div>
    </div>
</div>
