<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">       

        <div class="col-xxl-4 col-xl-4 col-sm-12 col-md-12 col-12 ">
            <h1>Next generation <br> digital banKing</h1>

                <p class="texto">take your financial life online. Your Easybank account <br>
                    will be a one-stop-shop for spending.saving.<br>
                    budgeting.investing. and much more.
                </p>

                <button type="button" class="btn">Request Invite</button>             
        </div>
          

        <div class="col-xxl-6 col-xl-6 col-sm-12 col-md-12 col-12 mt-5 ms-5">
            <img src="/assets/images/image-mockups.png" alt="morkup easebank" class="mt-5">
        </div>
    </div>
</div>
<!-- <div class="container-fluid bg-light">
    <div class="row">       

        <div class="col-xxl-4 col-xl-4 col-sm-12 col-md-12 col-12 ms-5">
            <h1>Next generation digital banKing</h1>

                <p>take your financial life online. Your Easybank account <br>
                    will be a one-stop-shop for spending.saving.<br>
                    budgeting.investing. and much more.
                </p>

                <button type="button" class="btn">Request Invite</button>             
        </div>
          

        <div class="col-xxl-6 col-xl-6 col-sm-12 col-md-12 col-12 me-5">
            <img src="/assets/images/image-mockups.png" alt="morkup easebank">
        </div>
</div> -->
