<!-- <div class="container-fluid bg-light">
    <div class="container">

   
        <div class="row">
            <div class="col-xxl-4 xol-xl-4 col-md-6 col-sm-12 mt-5 textos">
                <h1>Next generation digital banKing</h1>

                <p>take your financial life online. Your Easybank account <br>
                    will be a one-stop-shop for spending.saving.<br>
                    budgeting.investing. and much more.
                </p>

                <button type="button" class="btn">Request Invite</button>            
            </div>

            
                <img src="/assets/images/image-mockups.png" alt="">
            
        </div>
    </div>
</div> -->

<div class="col-xxl-4 col-xl-4 col-sm-12 col-md-12 col-12 ms-5">
    <img src="/assets/images/image-mockups.png" alt="">
    <hr class="col-5">       
    
            <p> Olá, me chamo</p>
            <p> Gabriel Bastos</p>
            <p class="lh-sm"> Desenvolvedor Frontend</p>                    
      
        <a class="icon_github" href="https://github.com/devbastos"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/gabriel-bastos-barbosa-2315b71b9/"><i class="bi bi-linkedin"></i></a>
        <a href="https://instagram.com/bastos_gabriel13?utm_medium=copy_link"><i class="bi bi-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5511971868122&text=Ol%C3%A1%2CGabriel"><i class="bi bi-whatsapp"></i></a>          

        <div class="col-5" >                    
           <a  id="sobre" href="https://drive.google.com/file/d/1gLL8huQNl-4CdMbztB3dzvig6tl36Kr9/view?usp=sharing" target="_blank"><button  type="button" class="btn">Download CV</button></a> 
        </div>
    </div>
