<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="col-12 mt-5">
                    <h1>Latest Articles</h1>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="/assets/images/image-currency.jpg" class="card-img-top" alt="...">
                      <h6 class="card-subtitle mb-2 text-muted">by Claire Robison</h6>
                      <h5 class="card-title">Receive money in any currency with no fees</h5>
                      <p class="card-text">The world is getting smaller and we're becoming more mobile. So why shouldd you be forced to only receive money in a single ...</p>
                    </div>
                  </div>

            </div>
        </div>
    </div>
</div>
